.bg-color{
    background-color: #176B87 ;
}

svg{
    position: absolute;
    right: 3rem;
}

nav{
    background-color: #001C30;
   
}

.nav-item{
    cursor:pointer;
}

.logout{
    margin-left: 48rem;
}
