.main{
    margin: 5rem;
}

img{
    width: 400px;
    height: 280px;
}

.register-link{
    color: #001C30;
    text-decoration: underline;
    position: relative;
    top: 2rem;
    left: 8rem;
}

.login-btn{
    background-color: #176B87;
    border: none;
    margin-top: 1rem;
    padding: 10px 30px;
}

.login-btn:hover{
    opacity: 1;
}

.error-message{
    color: #cc0033;
    font-size: 14px;
    margin: 5px 0 0;
}

.message{
    float: right;
}

.form-control, .input-group{
    width: 60%;
}

.input-group-append{
    cursor:pointer;
}

.form-check{
    margin-top: 1rem;
}

