<div>
  <alert></alert>
</div>
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
          <img src="assets/Sign-in.jpg" alt="group-img" />
        </div>

        <a href="/register" class="register-link">Create an account</a>
      </div>
      <div class="col-sm">
        <h1>Sign in</h1>
        <form #UserForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter your name"
              [(ngModel)]="form.username"
              #username="ngModel"
              required
              minlength="4"
              [ngClass]="{
                'is-valid': username.valid && !username.errors,
                'is-invalid':
                  username.invalid && (username.touched || username.dirty)
              }"
            />
            <div
              *ngIf="username.invalid && (username.touched || username.dirty)"
              class="error-message"
            >
              <div *ngIf="username.errors?.['required']">Name is required</div>
              <div *ngIf="username.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
            </div>
          </div>
          <label for="password">Password</label>
          <div class="input-group">
            <input
              [type]="fieldTextType ? 'text' : 'password'"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter password"
              [(ngModel)]="form.password"
              #password="ngModel"
              required
              minlength="8"
              [ngClass]="{
                'is-valid': password.valid && !password.errors,
                'is-invalid':
                  password.invalid && (password.touched || password.dirty)
              }"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                  class="fa fa-eye-slash"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"
                ></i>
              </span>
            </div>
          </div>
          <div
            *ngIf="password.invalid && (password.touched || password.dirty)"
            class="error-message"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Passowrd must be atleast 8 characters!
            </div>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault"
              value=""
            />
            <label class="form-check-label" for="flexCheckDefault"
              >Remember me</label
            >
          </div>
          <button
            class="btn btn-primary login-btn"
            type="submit"
            [disabled]="UserForm.form.invalid"
            (click)="onSubmit(); UserForm.reset()"
          >
            Log In
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
