<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>India’s No.1 Recruitment Platform</h2>
      <p>
        Highly recommended as the one-stop solution to all the hiring needs of a
        company.
      </p>
    </div>
    <div class="col-sm">
      <h4>Contact Us</h4>
      <form #contactForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="contact">Contact Number</label>
          <input
            type="number"
            id="contact"
            name="contact"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="company">Company Name</label>
          <input type="text" id="company" name="company" class="form-control" />
        </div>
        <div class="form-group">
          <label for="designation">Designation</label>
          <input
            type="text"
            id="designation"
            name="designation"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="email">Email Id</label>
          <input type="email" id="email" name="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Get A Callback</button>
      </form>
    </div>
  </div>
</div>
